.text-field-styling{
     -fx-padding: 5px 3px 3px 3px;
     -fx-border-insets: 5px 3px 3px 2px;
     -fx-background-insets: 5px 3px 3px 3px;
     -fx-border-color: #cdcdcd;
     -fx-border-radius: 3px;
}

.table-view .table-column{
    -fx-alignment:CENTER;
}

.table-view .column-header > .label{
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 14px;
    -fx-padding: 5px 3px 3px 3px;
}

.button-style{
    -fx-pref-width: 100px;
}

.error{
    -fx-text-fill: red;
}


