#log-entry-list .list-cell:even {
    -fx-background-color: #ffffff;
    -fx-border-style: solid none none none;
    -fx-border-width: 1;
    -fx-border-color: #d8d8d8;
}

#log-entry-list .list-cell:odd {
    -fx-background-color: #ffffff;
    -fx-border-style: solid none none none;
    -fx-border-width: 1;
    -fx-border-color: #d8d8d8;
}
